@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    Good @ViewBag.Greeting!
    <p>We're going to have an exciting party.</p>
    <a asp-action="RsvpForm">RSVP Now</a>
</div>
</body>
</html>