@model ProductsList

@foreach (Product product in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", product);
}

<div page-action="List" page-model="@Model.PagingInfo"
     class="btn-group float-right"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-light"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"></div>